#nombrelist {
	float: left;
}

#iconoEditar  {
	float: right;
	margin-right: 80px;
}

#iconoBorrar {
	float: right;
	margin-right: 10px;
}

#titlistado {
	float: left;
	margin-left: 440px;
}

#btnCabecera {
	float: right;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }