
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }

#btnAceptar {
	width: 100px;
}

#btnCancelar {
	width: 100px;
	margin-left: 10px;
}