body {
  background-color: #F4D03F;
}

#nombrelist {
	float: left;
}

#iconoEditar  {
	float: right;
	margin-right: 80px;
}

#iconoBorrar {
	float: right;
	margin-right: 10px;
}

#titlistado {
	float: left;
	margin-left: 440px;
}

#btnAñadir {
	float: right;
}

